# Copiar este archivo como application.properties y llenar con los datos
# reales de conexion (application.properties esta en el .gitignore para
# no subir credenciales).

spring.datasource.url=jdbc:postgresql://localhost:5432/finder_conciertos
spring.datasource.username=tu_usuario
spring.datasource.password=tu_password

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# Esto es para que se muestren las APIs en el URL aunque no estén implementadas
springdoc.swagger-ui.url=/swagger/openapi.yaml